/* indexファイルのCSS */

.item_search label{

}

.search{
}

.card-text{
    text-align: left;
    font-size: small;
}

.card-body .text{
    background-color: aqua;

}


.card-body .btn btn-primary{
    background-color: aquamarine;

}

.card col-sm-3 col-xs-12{

}

.card col-sm-3 col-xs-12 img{
    
}
