/* indexファイルのCSS */

.item_search label{background-color: blue;

}

.search{
    background-color: brown;
}

.card-text{
    text-align: left;
    font-size: small;
}

.card-body .text{
    background-color: aqua;

}


.card-body .btn btn-primary{
    background-color: aquamarine;

}

